{% extends 'base_layout.html' %}

{% block content%}
    <h1>Course List</h1>
    <div class="courses">
    {% for course in courses %}
        <div class="course">
            <h2><a class="redirect_link" href="{% url 'instructors:instructor-modules' slug=course.slug %}">{{ course.title }}</a></h2>
            <img class="course_img"src="{{course.thumb.url}}">
            <div class="course_intro"><h3>Course Introduction</h3> <br>{{ course.snippet }}</div>
        </div>
    {% endfor %}
    <a class = "redirect_button" href="{% url 'instructors:instructor-add-course' %}" >Add Course</a>
    </div>
{% endblock %}
