{% extends 'base_layout.html' %}
{% block content %}
<div class="module-detail">
    <div class="component">
        {% for component in components %}
        <div class="componentlist">
            <p>{{ component.text_content }}</p>
            <img src="{{component.image_content.url}}" style="height: 100px;width: 60px">
        </div>
        {% endfor %}
        <a href="{% url 'instructors:instructor-add-component' moduleid=module.id %}"  style="display: block;">Add Component</a>
        <a href="{% url 'instructors:instructor-add-quiz' moduleid=module.id %}" style="display: block;">Add Quiz</a>
        <a href="{% url 'instructors:instructor-view-quiz' moduleid=module.id %}" style="display: block;">View Quiz</a>
    </div>
</div>
{% endblock %}